form.form-horizontal(name="termTemplateForm")
  .form-group(ng-class="{ 'has-error': termTemplateForm.termType.$error.required }")
      label.col-md-3.control-label(for="termType") Term type
      .col-md-9
        select.form-control(name="termType" ng-model="termTemplate.termType" ng-required="true" ng-disabled="isSaving || !isNew")
          option(value="" disabled="true") Select term type
          option(value="text") Text
          option(value="boolean") Boolean
          option(value="variant") Variant
          option(value="date") Date

  .form-group(ng-class="{ 'has-error': termTemplateForm.variable.$error.required }")
    label.col-md-3.control-label(for="variable") Variable
    .col-md-9
      input.form-control(name="variable" type="text" placeholder="Variable"
                         ng-model="termTemplate.variable" ng-required="true" ng-disabled="isSaving || !isNew")

  .form-group(ng-class="{ 'has-error': termTemplateForm.displayName.$error.required }")
    label.col-md-3.control-label(for="displayName") Display name
    .col-md-9
      input.form-control(name="displayName" type="text" placeholder="Display name"
                         ng-model="termTemplate.displayName" ng-required="true" ng-disabled="isSaving")

  // Text
  div(ng-if="termTemplate.termType === 'text'")
    .form-group(ng-class="{ 'has-error': termTemplateForm.placeholder.$error.required }")
      label.col-md-3.control-label(for="placeholder") Placeholder
      .col-md-9
        input.form-control(name="placeholder" type="text" placeholder="Placeholder"
                           ng-model="termTemplate.text.placeholder" ng-required="true" ng-disabled="isSaving")

  // Date
  div(ng-if="termTemplate.termType === 'date'")
    .form-group(ng-class="{ 'has-error': termTemplateForm.defaultDate.$error.required }")
      label.col-md-3.control-label(for="defaultDate") Default value
      .col-md-9
        input.form-control(
            name="defaultDate"
            type="text"
            ng-model="termTemplate.date.default"
            ng-required="true"
            ng-disabled="isSaving"
            ng-click="isOpened = true"
            uib-datepicker-popup="MMMM dd, yyyy"
            is-open="isOpened"
            datepicker-options="dateOptions"
            close-text="Close"
            datepicker-append-to-body="true"
        )
  // Boolean
  div(ng-if="termTemplate.termType === 'boolean'")
    .form-group(ng-class="{ 'has-error': termTemplateForm.inclusionText.$error.required }")
      label.col-md-3.control-label(for="inclusionText") Inclusion text
      .col-md-9
        input.form-control(name="inclusionText" type="text" placeholder="Include"
                           ng-model="termTemplate.boolean.inclusionText" ng-required="true" ng-disabled="isSaving")

    .form-group(ng-class="{ 'has-error': termTemplateForm.exclusionText.$error.required }")
      label.col-md-3.control-label(for="exclusionText") Exclusion text
      .col-md-9
        input.form-control(name="exclusionText" type="text" placeholder="Exclude"
                           ng-model="termTemplate.boolean.exclusionText" ng-required="true" ng-disabled="isSaving")

    .form-group(ng-class="{ 'has-error': termTemplateForm.defaultBoolean.$error.required }")
      label.col-md-3.control-label(for="defaultBoolean") Default value
      .col-md-9
        select.form-control(name="defaultBoolean" ng-model="termTemplate.boolean.default"
                           ng-options="opt.v as opt.n for opt in [{ n: 'True', v: true }, { n: 'False', v: false }]"
                           ng-required="true" ng-disabled="isSaving")

  // Variant
  div(ng-if="termTemplate.termType === 'variant'")
    .form-group
      label.col-md-3.control-label(for="options") Options
      .col-md-9
        button.btn.btn-default(ng-click="addOption()" ng-disabled="isSaving")
          span.glyphicon.glyphicon-plus-sign.text-success
          span.text-default Add option
    div(ng-repeat="option in termTemplate.variant.options track by option.id")
      .form-group(ng-class="{ 'has-error': termTemplateForm.option.$error.required }")
        .col-md-offset-3.col-md-9
          .input-group
            input.form-control(name="option" type="text" placeholder="Option {{ $index }}"
                               ng-model="option.value" ng-required="true" ng-disabled="isSaving")
            span.input-group-btn
              button.btn.btn-danger(type="button" ng-click="removeOption(option)" ng-disabled="isSaving")
                i.glyphicon.glyphicon-minus

    .form-group(ng-class="{ 'has-error': termTemplateForm.defaultVariant.$error.required }")
      label.col-md-3.control-label(for="defaultVariant") Default value
      .col-md-9
        select.form-control(name="defaultVariant" ng-model="termTemplate.variant.default"
                            ng-options="opt.value as opt.value for opt in termTemplate.variant.options"
                            ng-required="true" ng-disabled="isSaving")

    .form-group
      label.col-md-3.control-label(for="displayAs") Display as
      .col-md-9
        select.form-control(name="displayAs" ng-model="termTemplate.variant.displayAs"
                           ng-options="opt as opt for opt in ['dropdown', 'radio buttons']"
                           ng-required="true" ng-disabled="isSaving")

  .form-group
     label.col-md-3.control-label(for="help") Help
     .col-md-9
       text-angular.formt-control(name="help" ng-model="termTemplate.help" ng-disabled="isSaving")
