extends ../layout/layout.pug

block content
  .row
    .col-md-12
      h1.page-header Term Templates
  .row(ng-show="isLoading")
    .col-md-12
      include ../common/spinner.pug
  div(ng-hide="isLoading")
    .row
      .col-md-6
        a.btn.btn-default.btn-primary(href="/term-templates/new") New Term Template
      .col-md-6.text-right
        button#import.btn.btn-info.btn-md(title="Import") Import 
          input#csvfile(type="file" onchange="angular.element(this).scope().uploadCSV()" accept=".csv")
          span.glyphicon.glyphicon-import
        button#export.btn.btn-success.btn-md(title="Export" ng-click="exportToCSV()") Export 
          span.glyphicon.glyphicon-export
    .row
      .col-md-12
        table.table.table-striped.term-templates
          thead
            tr
              td.term-type
                strong(ng-click="orderBy='termType'; reverseSort=!reverseSort" style="cursor:pointer;") Term type &nbsp;&nbsp;
                  span(ng-show="orderBy == 'termType'")
                    span.glyphicon.glyphicon-triangle-top(ng-show="!reverseSort")
                    span.glyphicon.glyphicon-triangle-bottom(ng-show="reverseSort")
              td.variable
                strong(ng-click="orderBy='variable'; reverseSort=!reverseSort" style="cursor:pointer;") Variable &nbsp;&nbsp;
                  span(ng-show="orderBy == 'variable'")
                    span.glyphicon.glyphicon-triangle-top(ng-show="!reverseSort")
                    span.glyphicon.glyphicon-triangle-bottom(ng-show="reverseSort")
              td
                strong(ng-click="orderBy='displayName'; reverseSort=!reverseSort" style="cursor:pointer;") Display name &nbsp;&nbsp;
                  span(ng-show="orderBy == 'displayName'")
                    span.glyphicon.glyphicon-triangle-top(ng-show="!reverseSort")
                    span.glyphicon.glyphicon-triangle-bottom(ng-show="reverseSort")
              td
          tbody
            tr(ng-repeat="termTemplate in termTemplates|orderBy:orderBy:reverseSort" ng-class="{ disabled: termTemplate.disabled }")
              td {{ termTemplate.termType }}
              td {{ termTemplate.variable }}
              td {{ termTemplate.displayName }}
              td.actions.text-right
                button.btn.btn-info.btn-sm(title="Edit" 
                      ng-show="!termTemplate.disabled" 
                      ng-click="editTermTemplate(termTemplate)" 
                      ng-disabled="isSaving")
                  span.glyphicon.glyphicon-pencil
                button.btn.btn-warning.btn-sm(title="Restore" 
                      ng-show="termTemplate.disabled" 
                      ng-click="updateTermTemplateState(termTemplate, false)" 
                      ng-disabled="isSaving")
                  span.glyphicon.glyphicon-refresh
                button.btn.btn-warning.btn-sm(title="Disable" 
                      ng-show="!termTemplate.disabled" 
                      ng-click="updateTermTemplateState(termTemplate, true)" 
                      ng-disabled="isSaving")
                  span.glyphicon.glyphicon-ban-circle
                button.btn.btn-danger.btn-sm(title="Delete" 
                      mwl-confirm
                      on-confirm="deleteTermTemplate(termTemplate)"
                      confirm-text="Delete"
                      confirm-button-type="danger"
                      placement="left"
                      message="Are you sure you want to delete this term template: <b>{{termTemplate.variable}}</b>?"
                      ng-disabled="isSaving")
                  span.glyphicon.glyphicon-trash
