form.form-horizontal
  .form-group(ng-repeat="variable in variables | objectToArray | orderBy: 'sortIndex'" ng-click="highlight(variable)")
    label.col-md-12.control-label.text-left {{ ::variable.displayName }}
    .col-md-12

      div(ng-if="variable.termType === 'text'")
        input.form-control(type="text" ng-model="variable.value" ng-blur="save()" placeholder="{{ variable.text.placeholder }}")

      div(ng-if="variable.termType === 'boolean'")
        .radio
          label
            input(type="radio" ng-model="variable.value" ng-value="true" ng-change="save()")
            span {{ ::variable.boolean.inclusionText }}
          label
            input(type="radio" ng-model="variable.value" ng-value="false" ng-change="save()" )
            span {{ ::variable.boolean.exclusionText }}

      div(ng-if="variable.termType === 'variant'")
        select.form-control(ng-model="variable.value"
                            ng-options="opt.value as opt.value for opt in variable.variant.options"
                            ng-change="save()")

      div(ng-if="variable.termType === 'date'")
        input.form-control(type="text"
                           ng-model="variable.value"
                           ng-required="true"
                           ng-click="variable.isOpened = true"
                           ng-change="save()"
                           uib-datepicker-popup="MMMM dd, yyyy"
                           is-open="variable.isOpened"
                           datepicker-options="dateOptions"
                           close-text="Close"
                           datepicker-append-to-body="true")
