form.form-horizontal
  .form-group.animate-show(ng-visible="(filterVal.value == 100 || variable.state==filterVal.value || ((variable.state==0 || variable.state==2) && filterVal.value==3) || ((variable.state==1 || variable.state==2) && filterVal.value==4) || ((variable.state==0 || variable.state==1) && filterVal.value==5)) && viewStatus.{{ ::variable.variable }} == true" ng-repeat="variable in variables | objectToArray | orderBy: 'sortIndex'"
    ng-click="highlight(variable)"
    ng-class="selectedVariable == variable ? 'highlighted' : null"
    class="{{ variableStates[variable.state]['background'] }}")
    label.col-md-5.control-label {{ ::variable.displayName }} &nbsp;
      a(ng-if="variable.termType === 'expandable_text'" ng-click="addSubField(variable,$event)" style="font-size:12px;cursor:pointer;")
        span.glyphicon.glyphicon-plus
      a(ng-if="variable.termType === 'expandable_sub_text'" ng-click="removeSubField(variable,$event)" style="font-size:12px;cursor:pointer;")
        span.glyphicon.glyphicon-minus(style="color:deeppink")
    .col-md-7.variable
      div(ng-if="variable.termType === 'text'")
        input.form-control(
          type="text"
          ng-model="variable.value"
          ng-blur="save()"
          placeholder="{{ variable.text.placeholder }}"
          ng-disabled="variable.state == 1")

      div(ng-if="variable.termType === 'expandable_text' || variable.termType === 'expandable_sub_text'")
        input.form-control(
          type="text"
          ng-model="variable.value"
          ng-blur="save()"
          placeholder="{{ variable.text.placeholder }}"
          ng-disabled="variable.state == 1")

      div(ng-if="variable.termType === 'textarea'")
        textarea.form-control(
          rows = "3"
          ng-model="variable.value"
          ng-blur="save()"
          ng-disabled="variable.state == 1")

      div(ng-if="variable.termType === 'boolean'")
        .radio
          label
            input(
              type="radio"
              ng-model="variable.value"
              ng-value="true"
              ng-change="save()"
              ng-disabled="variable.state == 1")
            span {{ ::variable.boolean.inclusionText }}
          label
            input(
              type="radio"
              ng-model="variable.value"
              ng-value="false"
              ng-change="save()"
              ng-disabled="variable.state == 1")
            span {{ ::variable.boolean.exclusionText }}

      div(ng-if="variable.termType === 'variant'")
        select.form-control(ng-model="variable.value"
                            ng-options="opt.value as opt.value for opt in variable.variant.options"
                            ng-change="save()"
                            ng-disabled="variable.state == 1")
      div(ng-if="variable.termType === 'date'")
        input.form-control(type="text"
                           ng-model="variable.value"
                           ng-required="true"
                           ng-click="variable.isOpened = true"
                           ng-change="save()"
                           ng-disabled="variable.state == 1"
                           uib-datepicker-popup="MM/dd/yy"
                           is-open="variable.isOpened"
                           datepicker-options="dateOptions"
                           close-text="Close"
                           datepicker-append-to-body="true")

      div(ng-if="variable.termType === 'number'")
        input.form-control(
          type="number"
          ng-model="variable.value"
          ng-blur="save()"
          placeholder="{{ variable.number.placeholder }}"
          ng-disabled="variable.state == 1")

      button.btn.btn-variable-state(
        type="button"
        class="{{ variableStates[variable.state]['btn-class'] }}"
        title="{{ variableStates[variable.state]['name'] }}"
        ng-click="changeState($event)")
        span(class="{{ variableStates[variable.state]['span-class'] }}")
